<% title="User" %>
    <% include partials/header %>
        <div class="container">
            <div class="row d-flex justify-content-center">
                <form action="/user<%=action%>" method="post">
                    <div class="card card-body">
                        <div class="row col-12">
                            <a href="/users" class="mb-2 col-3 btn btn-outline-primary">
                                <i class="fa fa-arrow-left fa-lg" aria-hidden="true"></i></a>
                            <h3 class="col-8" style="color: steelblue; text-align: center;">Usuario</h3>
                        </div>
                        <div class="form-group col-12">
                            <label for="name">Nombre</label>
                            <input type="text" name="name" class="form-control" id="name" placeholder="Nombre" required value="<%=user.name%>">
                        </div>
                        <div class="form-group col-12">
                            <label for="user">Usuario</label>
                            <input type="text" name="user" class="form-control" id="user" placeholder="Usuario" required value="<%=user.user%>">
                        </div>
                        <div class="form-group col-12">
                            <label for="user">Email</label>
                            <input type="Email" name="email" class="form-control" id="email" placeholder="Correo" required value="<%=user.email%>">
                        </div>
                        <div class="form-group col-12">
                            <label for="user">Contraseña</label>
                            <input type="password" name="pass" class="form-control" id="pass" placeholder="Contraseña" required value="<%=user.pass%>">
                        </div>
                        <input type="submit" class="btn btn-outline-success" value="Aceptar">
                    </div>
                </form>
            </div>
        </div>
        </div>
        <% include partials/footer %>